/*
---00 WHITESPACE SYSTEM / ATOM

    - Spaging system (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

---01 TYPOGRAPHY SYSTEM / ATOM
    

    - Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/****************************************/
/* HEADER */
/****************************************/

.inicio{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.carrusel img {
  width: 0%;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: all 3s ease;
}
.carrusel img:hover {
  cursor: crosshair;
  width: 60%;
  opacity: 1;
  filter: contrast(120%);
  z-index: 1;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: -30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
.carrusel {
  width: 800px;
  height: 430px;
  display: flex; 
}
.carrusel:hover .central {
  width: 0%;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: all 2s ease;
  margin-left: 0px;  margin-top: 0px;
  margin-bottom: 0px;
}
.carrusel .central {
  cursor: crosshair;
  width: 60%;
  opacity: 1;
  filter: contrast(120%);
  z-index: 1;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: -30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

/****************************************/
/* NAVIGATION */
/****************************************/

/****************************************/
/* HERO SECTION*/
/****************************************/

/****************************************/
/* AS FEATURED IN SECTION */
/****************************************/

/****************************************/
/* HOW IT WORKS SECTION*/
/****************************************/

/****************************************/
/* MEALS SECTION*/
/****************************************/

/****************************************/
/* TESTIMONIALS SECTION*/
/****************************************/

/****************************************/
/* PRICING SECTION*/
/****************************************/

/****************************************/
/* PLAN DETAILS SUBSECTION*/
/****************************************/

/****************************************/
/* FEATURE SUBSECTION*/
/****************************************/

/****************************************/
/* CTA SECTION*/
/****************************************/

/****************************************/
/* FOOTER SECTION */
/****************************************/
