/*
---00 WHITESPACE SYSTEM / ATOM

    - Spaging system (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

---01 TYPOGRAPHY SYSTEM / ATOM
    

    - Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/****************************************/
/* VARIABLES  */
/****************************************/

:root {
  --header-height: 3.5rem;

  /*========== Colores ==========*/
  --travo-color: #976c4e;
  --travo-color-claro: #b78867;

  /*========== Font and typography ==========*/
  --body-font: sans-serif;
  --normal-font-size: 0.938rem;
}

/****************************************/
/* GLOBAL SETTINGS  */
/****************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/****************************************/
/* GENERAL REUSABLE COMPONENTS */
/****************************************/

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/* 

.grid {
}

.heeading-primary {
}

.heading-secondary {
}

.heading-tertiary {
}

.btn,
.btn:link,
.btn:visited {
} 

*/

/****************************************/
/* HELPER / SETTINGS CLASSES*/
/****************************************/
