/*
---00 WHITESPACE SYSTEM / ATOM

    - Spaging system (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

---01 TYPOGRAPHY SYSTEM / ATOM
    

    - Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/****************************************/
/* HEADER */
/****************************************/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--travo-color);
  box-shadow: inset 0 -4em 4em #ded3c3, 0 0 0 1px rgb(0, 0, 0),
    0.3em 0.3em 1em #ded3c3;
  z-index: 100;
}

.nav {
  height: 4rem;
}

.nav__logo,
.nav__burger,
.nav__close {
  color: var(--travo-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: 600;
}

.nav__logo img {
  width: 4rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
  opacity: 0;
}

.nav__link {
  color: var(--black-color);
  font-weight: 600;
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.nav__link:hover {
  background-color: var(--travo-color-claro);
}

.desplegable__item {
  cursor: pointer;
}

.desplegable__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.desplegable__link {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: black;
  background-color: var(--travo-color-claro);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 600;
  transition: background-color 0.3s;
}

.desplegable__link i {
  font-size: 1.25rem;
  font-weight: initial;
}

.desplegable__link:hover {
  background-color: var(--travo-color);
}

.desplegable__menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

/* Show desplegable menu */
.desplegable__item:hover .desplegable__menu {
  max-height: 1000px;
  transition: max-height 0.4s ease-in;
}

/* Rotate desplegable icon */
.desplegable__item:hover .desplegable__arrow {
  transform: rotate(180deg);
}

.hero-fondo {
  width: 100%;
  height: 60rem;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.img-fondo {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-65px);
  width: 100vw;
  object-fit: cover;
  z-index: -10;
}

/* .background {
  width: 100vw;
  height: 400px;
  background-image: linear-gradient(
      to right,
      hsla(107, 33%, 24%, 0.193),
      hsla(103, 6%, 56%, 0.216)
    ),
    url("../img/Fondo.png");
  background-size: cover;
  background-attachment: fixed;
  background-position-y: -119px;
} */
/****************************************/
/* NAVIGATION */
/****************************************/

/****************************************/
/* HERO SECTION*/
/****************************************/

/****************************************/
/* º
            MAIN SECTION
  EL MAIN VA A CONTENER EL CARRUSEL DE IMAGENES
  EL TÍTULO DEL MERCADO DIGITAL
  CONTENIDO DEL MERCADO DIGITAL

  será un flex con direccion columna
  en el que estará todo el contenido centrado y 
  con un color back ground #ded3c3
*/
/****************************************/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ded3c3;
}

.inicio {
  display: flex;
  justify-content: center;
  margin: 6rem;
  position: relative;
}
.carrusel img {
  width: 0%;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: all 3s ease;
}
.carrusel img:hover {
  cursor: crosshair;
  width: 60%;
  opacity: 1;
  filter: contrast(120%);
  z-index: 1;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: -30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
.carrusel {
  width: 800px;
  height: 430px;
  display: flex;
}
.carrusel:hover .central {
  width: 0%;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: all 2s ease;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.carrusel .central {
  cursor: crosshair;
  width: 60%;
  opacity: 1;
  filter: contrast(120%);
  z-index: 1;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: -30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

/****************************************/
/* DESCRIPCION */
/****************************************/

.title-banner {
  background-color: #c6996f;
  padding: 30px 0;
  text-align: center;
  width: 100%;
  z-index: 1; /* La franja estará por encima del resto del contenido */
}

.title-banner h3 {
  color: black;
  font-size: 3em;
}

#description {
  display: flex;
  justify-content: center;
}

.grid1 {
  grid-column: 1;
  grid-row: 1;
}
.grid2 {
  grid-column: 2/4;
  grid-row: 1;
}

.grid3 {
  grid-column: 1/3;
  grid-row: 2;
}

.grid4 {
  grid-column: 3;
  grid-row: 2;
}

.grid5 {
  grid-column: 1;
  grid-row: 3;
}

.grid6 {
  grid-column: 2/4;
  grid-row: 3;
}

.grid {
  padding: 5rem;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr; /* Esto crea dos columnas */
  width: 100%;
  margin: 0;
  background-color: #eee;
  column-gap: 20px;
}

.grid_item_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid_item_img img {
  width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.grid_item_txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.5;
  font-size: 20px;
  font-family: "Roboto Serif", serif;
  font-weight: 700;
}

.grid-left {
  justify-self: start;
}
.grid-right {
  justify-self: end;
}

/****************************************/
/* HOW IT WORKS SECTION*/
/****************************************/

/****************************************/
/* MEALS SECTION*/
/****************************************/

/****************************************/
/* TESTIMONIALS SECTION*/
/****************************************/

blockquote {
  margin: 0;
  position: relative;
}

.feedback {
  max-width: 900px;
  margin: auto;
  overflow: hidden;
  position: relative;
  align-items: center;
}

.feedback-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.feedback-item {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
}

.feedback-item img {
  width: 100%;
  display: block;
}

/* Navegación de la galería */
.feedback-navigation {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
  margin: 0 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav-button {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
.nav-button > span {
  font-size: 30px;
}
.nav-button:hover {
  background-color: #005f5f;
}
.textoFeed {
  text-align: center;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.813);
}

.textoContainer {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.245);
  background-color: rgba(240, 248, 255, 0.556);
}

/****************************************/
/* PRICING SECTION*/
/****************************************/

/****************************************/
/* PLAN DETAILS SUBSECTION*/
/****************************************/

/****************************************/
/* FEATURE SUBSECTION*/
/****************************************/

/****************************************/
/* CTA SECTION*/
/****************************************/

/****************************************/
/* FOOTER SECTION */
/****************************************/
.parte1 {
  background: #e1a66f;
  padding: 30px 0;
  box-shadow: 10px 12px 20px #795839b8 inset;
}

.parte2 {
  background-color: #574432;
  padding: 6px 24px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.partegrid {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 24px 24px;
  box-shadow: inset 10px 0px 20px #795839b8;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #eee;
}

.footer {
  width: 100vw;
  margin: 0 auto;
  align-items: center;
}

.social-links {
  display: flex;
  gap: 1.5rem;
}

.social-icon {
  width: 1rem;
  height: 1rem;
}

.partegrid {
  background-color: white;
  display: grid;
  align-items: center;
  justify-content: center;
}

.grid_logo {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: left;
  padding-left: 10%;
}

.grid_contac {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 0%;
  font-size: 1.3rem;
  font-weight: 500;
}

.footer-contac {
  font-size: 2rem;
}

.grid_nav-col1 {
  display: grid;
  align-items: right;
  justify-items: left;
  padding-left: 15%;
}

.grid_nav-col2 {
  display: grid;
  justify-items: left;
  padding-left: 50%;
}
.footer-link {
  font-size: 1.6rem;
  font-weight: 500;
}

.copyright {
  font-size: 1.1rem;
  color: #eee;
  font-weight: 400;
  text-align: center;
  padding: 0.2rem;
}
