@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

:root {
  --header-height: 3.5rem;

  /*========== Colores ==========*/
  --travo-color: #976c4e;
  --travo-color-claro: #b78867;

  /*========== Font and typography ==========*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--travo-color);
  box-shadow: inset 0 -4em 4em #ded3c3, 0 0 0 1px rgb(0, 0, 0),
    0.3em 0.3em 1em #ded3c3;
  z-index: 100;
}

.nav {
  height: 3.5rem;
}

.nav__logo,
.nav__burger,
.nav__close {
  color: var(--travo-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: 600;
}

.nav__logo img {
  width: 4rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
  opacity: 0;
}

@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--travo-color);
    padding-top: 1rem;
  }
}

.nav__link {
  color: var(--black-color);
  font-weight: 600;
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.nav__link:hover {
  background-color: var(--travo-color-claro);
}

.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

.desplegable__item {
  cursor: pointer;
}

.desplegable__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.desplegable__link {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: black;
  background-color: var(--travo-color-claro);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 600;
  transition: background-color 0.3s;
}

.desplegable__link i {
  font-size: 1.25rem;
  font-weight: initial;
}

.desplegable__link:hover {
  background-color: var(--travo-color);
}

.desplegable__menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

/* Show desplegable menu */
.desplegable__item:hover .desplegable__menu {
  max-height: 1000px;
  transition: max-height 0.4s ease-in;
}

/* Rotate desplegable icon */
.desplegable__item:hover .desplegable__arrow {
  transform: rotate(180deg);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .desplegable__item {
    position: relative;
  }

  .desplegable__menu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, top 0.3s;
  }

  .desplegable__link {
    padding-inline: 1rem 3.5rem;
  }

  .desplegable__item:hover .desplegable__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top 0.3s;
  }
}

/* Clase base para todos los botones */
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  background-color: #8b4d23c0;
  color: #fff;
  border-color: #8b4d23c0;

  /* Efecto hover */
  &:hover {
    background-color: #332b20;
    border-color: #332b20;
  }
}

/* .hero-fondo {
  width: 100%;
  height: 50rem;
  margin: 0 auto;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-150px);  Duda sobre esto, porque deja un espacio abajo 
  z-index: -10;
}

.img-fondo {
  width: 100%;
  position: fixed;
  z-index: -10;
} */

/* .hero-fondo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-fondo {
  width: 100%;
  max-width: 100%;
  height: auto;
} */

.hero-fondo {
  position: relative;
  width: 100%;
  height: 40em;
}

.img-fondo {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-35px);
  width: 100vw;
  object-fit: cover;
  z-index: -10;
}

/* .background {
  width: 100vw;
  height: 400px;
  background-image: linear-gradient(
      to right,
      hsla(107, 33%, 24%, 0.193),
      hsla(103, 6%, 56%, 0.216)
    ),
    url("./img/Fondo.png");
  background-size: cover;
  background-attachment: fixed;
  background-position-y: -119px;
} */
