header{
  width: 1000%;
  height: 700px;
  background: url(./img/Fondo.png);  
  background: -webkit-linear-gradient(to right, hsla(107, 33%, 24%, 0.472), hsla(103, 6%, 56%, 0.677)), url(./img/Fondo.png); 
  background: linear-gradient(to right, hsla(107, 33%, 24%, 0.472), hsla(103, 6%, 56%, 0.677)), url(./img/Fondo.png); 
  background-size: contain;
  background-attachment: fixed;
  position: relative;
}