/*
---00 WHITESPACE SYSTEM / ATOM

  - Spaging system (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

---01 TYPOGRAPHY SYSTEM / ATOM


  - Font sizes (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/****************************************/
/* HEADER */
/****************************************/

/****************************************/
/* NAVIGATION */
/****************************************/

/****************************************/
/* HERO SECTION*/
/****************************************/

/****************************************/
/* AS FEATURED IN SECTION */
/****************************************/

/****************************************/
/* HOW IT WORKS SECTION*/
/****************************************/

/****************************************/
/* MEALS SECTION*/
/****************************************/

.title-banner {
  background-color: #C6996F; 
  padding: 10px 0; /* Espacio alrededor del texto */
  text-align: center; 
  width: 100%; /* Ocupa todo el ancho de la página */
  z-index: 1; /* La franja estará por encima del resto del contenido */
}

.title-banner h3 {
  color: black; 
  font-size: 2em; 
}

#description {
  margin-top: 60px; /* Ajusta este valor para que el contenido no quede oculto bajo la franja */
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Esto crea dos columnas */
  grid-gap: 20px; /* Esto añade un espacio entre las columnas y las filas */
}

.fila {
  display: flex;
  flex-direction: row;
}

.columna {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  order: 1;
}

.texto, .texto2, .texto3 {
  order: 2;
}

.columna:nth-child(2) .logo {
  order: 2;
}

.columna:nth-child(2) .texto2 {
  order: 1;
}




/****************************************/
/* TESTIMONIALS SECTION*/
/****************************************/

/****************************************/
/* PRICING SECTION*/
/****************************************/

/****************************************/
/* PLAN DETAILS SUBSECTION*/
/****************************************/

/****************************************/
/* FEATURE SUBSECTION*/
/****************************************/

/****************************************/
/* CTA SECTION*/
/****************************************/

/****************************************/
/* FOOTER SECTION */
/****************************************/

.parte1{
  background:#E1A66F;
  padding:30px 0;
  box-shadow: 10px 12px 20px #795839b8 inset;
}

.parte2{
  background-color: #574432;
  padding:6px 24px;
  color:white;
  display:flex;
  justify-content:space-between;
}

.partegrid{
  background-color: white;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  padding:24px 24px;
  box-shadow: inset 10px 0px 20px  #795839b8;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #eee;
}

.footer{
  width:100vw;
  margin: 0 auto;
  align-items: center;
}

.social-links{
  display: flex;
  gap: 1.5rem;
}

.social-icon{
  width: 1rem;
  height: 1rem;
}

.partegrid{
  background-color: white;
  display: grid;
  align-items: center;
  justify-content: center;
}

.grid_logo{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: left;
  padding-left: 10%;
}

.grid_contac{
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 0%;
  font-size: 1.3rem;
font-weight: 500;
}

.footer-contac{
  font-size: 2.0rem;
}

.grid_nav-col1{
  display: grid;
  align-items: right;
  justify-items: left;
  padding-left: 15%;
}

.grid_nav-col2{
  display: grid;
  justify-items: left;
  padding-left: 50%;
}
.footer-link{
font-size: 1.6rem;
font-weight: 500;
}

.copyright{
  font-size: 1.1rem;
  color: #eee;
  font-weight: 400;
  text-align: center;
  padding: 0.2rem;
}



